<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
        
    </style>
    <script>
        $(document).ready(function () {
            getData();
        })

        function getData() {
            let url = "https://my-json-server.typicode.com/jjjosephhh/test-db-002/people";

            $.ajax({
                type: "GET",
                url: url,
                data: {},
                success: function (response) {
                    let data = response;
                    let temp_html = '';
                    for (let i = 0; i < data.length; i++) {
                        let fname = data[i]['fname'];
                        let lname = data[i]['lname'];
                        let age = data[i]['age'];
                        
                        temp_html += `
                        <tr>
                            <td>${fname}</td>
                            <td>${lname}</td>
                            <td>${age}</td>
                        </tr>
                        `;
                    }
                    $('#table').append(temp_html);
                }
            });
        }

        function otw_jobs() {
            window.location.href = "/jobs";
        }
    </script>
</head>

<body>

    <p>Hallo Massbroookkk, Melihat Jobs Mereka <button onclick="otw_jobs()">KLIK DISINI!!!</button></p>

    <table border="1" id="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        
    </table>
</body>

</html>