<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
</head>

<body>
    <p>Punteeennn, jika ingin kembali ke masa lalu <a href="/">klik disini mas!</a></p>

    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job</th>
            <th>Pay</th>
        </tr>
        {% for dt in data %}
        <tr>
            {% set fname = dt.fname %}
            {% set lname = dt.lname %}
            {% set job = dt.job %}
            {% set pay = dt.pay %}
            <td>{{ fname }}</td>
            <td>{{ lname }}</td>
            <td>{{ job }}</td>
            <td>{{ pay }}</td>
        </tr>
        {% endfor %}
    </table>
        
</body>

</html>